@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



.overflow-scroll::-webkit-scrollbar {
  /* border:1px red solid; */
  background-color: rgb(30, 41, 59);
}

.overflow-scroll::-webkit-scrollbar-thumb {
  /* background-color: red;  */
  background-color: rgb(22, 30, 43);

}

.overflow-scroll::-webkit-scrollbar-corner {
  background-color: rgb(30, 41, 59);
}


.text-editor-panel {
  background: rgb(30 41 59);
  padding: 20px;
  border: 1px solid #ffffff36;
  margin: 18px;
  border-radius: 4px;
  position: relative;
}
.text-holder {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff36;
  padding: 8px 0px;
  gap: 8px;
}

 

.text-holder label {
  color: #fff;
}
.text-holder:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.text-holder input {
  width: 100%;
}

.text-editor-panel .close-button {
  position: absolute;
  right: 13px;
  top: 14px;
  color: #fff;
  font-weight: bold;
} 