.flex_demo_structure {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    gap: 30px;
}
img.image_upload {
    height: 220px;
}
.all_layesr ul li span {
    font-size: 12px;
    overflow: scroll;
 
}
.all_layesr ul {
    height: 500px;
    overflow: scroll;
}